/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*outline: none;*/
/* outline: none;*/
/* Links */
/* color: inherit; */
 * text-decoration: none */
/* display: inline-block; */
/* color: inherit; */
 * text-decoration: none */
/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  max-width: 1110px;
  width: 100%;
  padding: 0px 5px;
  margin: 0px auto;
  min-height: 20px;
}

body {
  font-family: Tahoma;
  color: #202020;
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 480px;
  }
}
@font-face {
  font-family: "name";
  src: url("../fonts/Tahoma") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "name";
  src: url("../fonts/Tahoma-Bold") format("truetype");
  font-weight: 700;
}
.header {
  padding: 20px;
  background: #f1f1f1;
}
.header__logo {
  font-weight: 700;
  text-transform: uppercase;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 22px;
}
.list__item, header__logo, header__profile {
  font-family: Tahoma;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

@media (max-width: 992px) {
  .list {
    display: none;
  }
}
.hero {
  padding: 62px 0px 70px 0px;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 122px;
     -moz-column-gap: 122px;
          column-gap: 122px;
}
.hero__img {
  width: 460px;
  height: 646px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero__img img {
  width: 100%;
  height: 100%;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__name {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 22px;
}
.hero__text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 48px;
}
.hero__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 16px;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 49px;
}
.hero__product-pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 97px;
     -moz-column-gap: 97px;
          column-gap: 97px;
  margin-bottom: 48px;
}
.hero__favorite {
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 1.2;
  position: relative;
}
.hero__favorite::before {
  content: "";
  background: url("../../img/icon/fav.png") no-repeat;
  width: 26px;
  height: 23px;
  position: absolute;
  left: -35px;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.hero__btn {
  color: #ffffff;
  padding: 22px 57px;
  border: 2px solid #f89c02;
  background-color: #f89c02;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.hero__buy {
  color: #f89c02;
  padding: 22px 57px;
  border-radius: 5px;
  border: 2px solid #f89c02;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.title {
  font-size: 54px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 15px;
}

.age {
  -webkit-box-flex: 40%;
      -ms-flex: 40% 0 1;
          flex: 40% 0 1;
}

.type {
  -webkit-box-flex: 40%;
      -ms-flex: 40% 0 1;
          flex: 40% 0 1;
}

.price {
  font-family: Tahoma;
  font-size: 55px;
  line-height: 36px;
  font-weight: 400;
  color: #202020;
}
.price span {
  font-family: "Myriad Pro";
}

@media (max-width: 992px) {
  .hero__container {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
  .hero__img {
    width: 298px;
    height: 418px;
  }
  .hero__name {
    margin-bottom: 13px;
    font-size: 22p;
    line-height: 1;
  }
  .hero__text {
    margin-bottom: 28px;
    font-size: 24px;
  }
  .hero__about {
    margin-bottom: 39px;
    line-height: 1;
  }
  .hero__product-pricing {
    margin-bottom: 39px;
  }
  .hero__btn {
    padding: 18px 43px;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
  }
  .hero__buy {
    padding: 18px 43px;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
  }
  .title {
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 1;
  }
  .price {
    font-size: 55px;
    line-height: 36px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__img {
    width: 560px;
    height: 788px;
    margin-bottom: 60px;
  }
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .hero__name {
    margin-bottom: 13px;
  }
  .hero__text {
    margin-bottom: 28px;
  }
  .hero__about {
    margin-bottom: 39px;
  }
  .title {
    margin-bottom: 10px;
  }
}
@media (max-width: 992px) and (max-width: 768px) and (max-width: 576px) {
  .hero__img {
    width: 477px;
    height: 671px;
  }
  .hero__name {
    font-size: 18px;
  }
  .hero__text {
    font-size: 20px;
  }
  .hero__about {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__product-pricing {
    -webkit-column-gap: 53px;
       -moz-column-gap: 53px;
            column-gap: 53px;
    font-size: 55px;
  }
  .hero__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 19px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__btn {
    width: 100%;
  }
  .hero__buy {
    width: 100%;
    text-align: center;
  }
  .title {
    font-size: 36px;
  }
}
.about-book {
  background-color: #f1f1f1;
  padding: 95px 0;
}
.about-book__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
.about-book__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 43%;
      -ms-flex: 43% 0 0px;
          flex: 43% 0 0;
}
.about-book__title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 35px;
}
.about-book__text {
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.about-book__text:first-of-type {
  margin-bottom: 25px;
}
.about-book__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 552px;
          flex: 1 1 552px;
  padding: 68px 100px 86px 53px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 0px 1px 120px 0px rgba(161, 161, 161, 0.07);
          box-shadow: 0px 1px 120px 0px rgba(161, 161, 161, 0.07);
  border-radius: 10px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}
.card__img {
  width: 100px;
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: auto 0 0px;
          flex: auto 0 0;
}
.card__img img {
  width: 100%;
  height: 100%;
}
.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}
.card__name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}
.card__link {
  font-size: 16px;
  line-height: 1.2;
}
.card__bottom {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 992px) {
  .about-book__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 62px;
  }
  .about-book__content {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 0px;
            flex: 100% 0 0;
  }
  .about-book__card {
    max-width: 552px;
  }
}
.readers {
  padding: 85px 0 109px 0;
}
.readers__title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 57px;
}
.readers__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}
.readers__img {
  width: 165px;
  height: 165px;
}
.readers__img img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 60px 0 90px 0;
  background: #f1f1f1;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 27px;
}
.footer__list {
  font-size: 16px;
  line-height: 24px;
}
.footer__item:not(:last-child) {
  margin-bottom: 15px;
}