.header
  padding: 20px
  background: $bgc
  // .header__logo

  &__logo
    font-weight: 700
    text-transform: uppercase
  // .header__container
  &__container
    display: flex
    justify-content: space-between
    align-items: center
  // .header__profile

  &__profile

.list

  display: flex
  justify-content: space-between
  gap: 22px
  // .list__itet

  &__itet
.list__item,header__logo,header__profile
  font-family: Tahoma
  font-size: 14px
  line-height: 1.2
  font-weight: 400

@media (max-width:1600px)

@media (max-width:1400px)

@media (max-width:1200px)

@media (max-width:992px)
  .header

    // .header__container

    &__container

    // .header__logo

    &__logo

    // .header__profile

    &__profile

  .list
    display: none
    // .list__itet

    &__itet

@media (max-width:768px)

@media (max-width:576px)

@media (max-width:480px)

@media (max-width:1600px)

@media (max-width:320px)
